name: Deploy to DigitalOcean Droplet

on:
  push:
    branches: [ main ]
    paths:
      - 'app/**'
      - 'Dockerfile'
      - 'requirements.txt'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DO_SSH_KEY }}

      - name: Add Known Hosts
        run: ssh-keyscan -H ${{ secrets.DO_HOST }} >> ~/.ssh/known_hosts

      - name: Copy files to Droplet
        run: |
          # Menggunakan :~/klopai/ (Tilde)
          # Ini otomatis menyesuaikan ke home directory user yang ada di secrets.DO_USER
          rsync -avz --delete --exclude='.env' --exclude='.git' ./ ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }}:~/klopai/

      - name: Build and restart Docker on Droplet
        run: |
          ssh ${{ secrets.DO_USER }}@${{ secrets.DO_HOST }} "
            # Pindah ke folder klopai di dalam home directory user
            cd ~/klopai &&
            
            # Buat file .env dari secret
            echo '${{ secrets.APP_ENV_FILE }}' > .env &&

            # Stop & Hapus container lama
            docker stop klopai-backend || true &&
            docker rm klopai-backend || true &&

            # Build & Run
            docker build -t klopai-backend . &&
            docker run -d --env-file .env -p 8000:8000 --restart always --name klopai-backend klopai-backend &&
            
            # Bersih-bersih
            docker system prune -f
          "
